<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
         http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">
<!--使用Spring的数据源替换mybatis的配置
    数据源使用springframework的数据源
-->
    <bean id="dataSource1" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost/mybatis?useUnicode=True&amp;serverTimezone=UTC&amp;characterEncoding=UTF-8&amp;useSSL=true"/>
        <property name="username" value="root"/>
        <property name="password" value="123456"/>

    </bean>
<!--  从sqlSessionFactory 到sqlsession都是固定的写法-->
    <!--  sqlSessionFatory-->
    <bean id="sqlSessionFactory1" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource1" />
<!--   关联config-xml 可以集成过来-->
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
<!--&lt;!&ndash;  注册mapper.xml&ndash;&gt;-->
        <property name="mapperLocations" value="classpath*:com/hq/mapper/UserMapper.xml"/>
    </bean>
    
    <bean id="sqlsession1" class="org.mybatis.spring.SqlSessionTemplate">
<!-- 只能使用构造器注入 因为没有set方法-->
        <constructor-arg index="0" ref="sqlSessionFactory1"/>
    </bean>
<!-- 事务管理-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <constructor-arg ref="dataSource1" />
    </bean>
    <tx:advice id="txAdvice">
        <tx:attributes>
            <tx:method name="add" propagation="REQUIRED"/>
            <tx:method name="*"/>
        </tx:attributes>
    </tx:advice>

    <aop:config>
        <aop:pointcut id="pointcut" expression="execution(* com.hq.mapper.*.*(..))"/>
        <aop:advisor advice-ref="txAdvice"  pointcut-ref="pointcut"/>
    </aop:config>

</beans>